* {
    box-sizing: border-box;
    margin: 10px;
    padding: 0px;
    background-color: black;
}

#home {
    margin-top: -1;
    margin-left: -1;
    margin-right: -1;
    padding-bottom: 1em;
    background-color: #553592;
}

header {
    font-size: 30px;
    color: #CBC3E3;
    float: left;
    padding-right: 2em;
}

nav {
    float: right;
    padding-left: 1cm;
}

nav > a > button {
    color: #ececec;
    background-color: #27296d;
    margin: 10px;
    padding: 10px;
    border-radius: 1mm;
    font-size: 20px;
}

nav > a > button:hover {
    color: #ffffff;
    font-weight: 500;
    background-color: #553592;
}

#all-conversion-sections {
    display: grid;
    justify-content: center;
}

figure {
    float: left;
    justify-self: auto;
    width: 200px;
}

ing {
    width: 200px;
}